@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gallerySlider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-gallery-slider {
  animation: gallerySlider 40s linear infinite alternate;
}
